body {
    background-image: url("imgs/牌桌.png");
    background-repeat:no-repeat;
    background-size:cover;
}
#play_buttom{
    position:absolute;
    top:27.55%;
    left:38%;
}
#introduction_buttom {
    position: absolute;
    top: 60.75%;
    left: 38%;
}
#introduction {
    display:none;
    position: absolute;
    width: 50%;
    left: 35%;
    top:19.5%;
}
#block1 {
    display: none;
    position: absolute;
    width: 15%;
    left: 20%;
    top: 21.5%;
}
#block2 {
    display: none;
    position: absolute;
    width: 15%;
    left: 20%;
    top: 52.5%;
}
#X {
    display: none;
    position: absolute;
    width: 3%;
    left: 78%;
    top: 21.5%;
}
#oneplayer {
    display: none;
    position: absolute;
    width: 30%;
    left: 10%;
    top: 20%;
}
#players {
    display: none;
    position: absolute;
    width: 30%;
    left: 60%;
    top: 20%;
}
#gear{
    position:absolute;
    width:8%;
    left:92%;
    top:83%;
}